<footer>
    <div class="footer">
    <div class="social_media">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-pinterest"></i>
            <i class="fab fa-youtube"></i>
    </div>
    <div class="copyright">
        <p>Copyright © 2020 SHOPLIFTER. All rights reserved</p>
    </div>
    <div class="designedBy">
        <p>Designed by: Volodymyr Bukovskyi</p>
    </div>
    </div>
</footer>
