<div class="conteiner">
 
     <div class=" brand_photo">
         <img class="photo_brand_first" src="../../../assets/images/mainGirl.jpg" alt="">
         <div class="text_brand_first">
             <h1>MAKE YOUR OWN STYLE</h1>
             <ul>
                <li [routerLink]="[ '/product/women']" ><a class="brand_btn"  >SHOP WOMEN</a></li>
                <li [routerLink]="['/product/men']"><a  class="brand_btn">SHOP MEN</a></li>
             </ul>
             
         </div>
     </div>
     <div class="brand_photo_second">
            <div class="photo_brand_block_second">
                    <img   [routerLink]="[ '/product/women']" class="photo_brand_second" src="../../../assets/images/girl1.jpg" alt="">
            </div>
            <div [routerLink]="[ '/product/men']" class="photo_brand_block_third">
                    <img class="photo_brand_third" src="../../../assets/images/man1.jpg" alt="">
            </div>
     </div>
     <div class="brand_third">
       <div class="new_collection ">
            <h1>NEW SUMMER COLLECTION</h1>
           <div class="group_new_collection">
                <button class="new_collection_btn_women" [routerLink]="['/newCollection']" >NEW COLLECTION</button>
                <!-- <button class="new_collection_btn_men">MEN COLLECTION</button> -->
           </div>
           
       </div>
     </div>
     

</div>
